*,
*:after,
*:before{
	@include box-sizing(border-box);
}
html,
body{
	background-color: $main-background-color;
	color: $main-foreground-color;
}
body{
	//@include debug-vertical-alignment;
	font-family: $sans-font;
	font-weight: $light-weight;
}

a{
	text-decoration: none;
}

p,
ul,
ol,
dd{
	margin-top: 0;
	@include margin-trailer;
}

img{
	vertical-align: middle;
	max-width: 100%;
}