label{
	@include adjust-font-size-to(14px);
	font-weight: $semi-weight;
	margin-bottom: rhythm(1/2, 14px);
	color: $main-foreground-color;
}

%input-text-base{
	width: 100%;
	height: rhythm(2);
	border: 2px solid $color-ui;
	font-weight: $light-weight;
	color: $main-foreground-color;
	border-radius: $radius;
	margin-bottom: 6px;
	@media #{$medium} {
		margin-bottom: auto;
	}
}

[class*="grid__"] select{
	@extend %input-text-base;
}

#{$all-text-inputs}{
	@extend %input-text-base;
	padding: 0 em(12);
}

%fake-input-base{
	@include size(em(15, 14));
	display: inline-block;
	border: 2px solid $color-ui;
	color: $success-color;
	vertical-align: middle;
	margin-top: -3px;
	margin-right: 4px;
	text-align: center;
	position: relative;
	&:before{
		font-size: em(16, 14);
		position: absolute;
		top: em(5, 16);
		left: em(1, 16);
		line-height: 1;
	}
}

.fake-input{
	font-size: 14px;
	user-select: none;
}

.fake-input-checkbox{
	@extend %fake-input-base;
	border-radius: $radius;
}

.fake-input-radio{
	@extend %fake-input-base;
	border-radius: 50%;
	&:before{
		top: -5px;
		left: 0;
	}
}

.fake-input-input{
	@extend .visuallyhidden;
	&:checked + .fake-input-checkbox:before{
		content: "×";
	}
	&:checked + .fake-input-radio:before{
		content: "●";
		font-size: 19px;
	}
}

.label{
	display: inline-block;
	padding: 0.3em 0.4em;
	line-height: 1.2;
	border-radius: $radius;
}
.label-secondary{
	background-color: $secondary-color;
	color: white;
}