@include establish-baseline;

h1,
h2,
h3,
h4,
h5,
h6{
	margin-top: 0;
	font-weight: $semi-weight;
}

h1,
.alpha{
	@include adjust-font-size-to(34px);
	margin-bottom: rhythm(1, 34px);
}

h2,
.beta{
	@include adjust-font-size-to(30px);
	margin-bottom: rhythm(1, 30px);
}

h3,
.gamma{
	@include adjust-font-size-to(25px);
	margin-bottom: rhythm(1, 25px);
}