%button-reset{
	display: inline-block;
	zoom: 1;
	line-height: normal;
	white-space: nowrap;
	vertical-align: baseline;
	text-align: center;
	cursor: pointer;
	user-select: none;
}

%button-base{
	font-size: 100%;
	padding: .7em 1.6em;
	color: #444;
	color: rgba(0,0,0,.8);
	border: 1px solid #999;
	border: 0 rgba(0,0,0,0);
	background-color: #E6E6E6;
	text-decoration: none;
	transition: .2s linear background;
}

%base-button-styles{
	color: white;
	border-radius: $radius;
	font-weight: $semi-weight;
	&:visited{
		color: white;
	}
}

.button{
	@extend %button-reset;
	@extend %button-base;
	&:hover,
	&:focus{
		@include background-image(linear-gradient(to bottom, transparent, rgba(0,0,0,.05) 40%, rgba(0,0,0,.1)));

	}
	&:active{
		box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
	}
	&.extended{
		box-shadow: inset 0 -4px rgba(black, 0.20);
		&:active{
			@include transform(translateY(1px));
			box-shadow: inset 0 -2px rgba(black, 0.20);
		}
	}
}

.button-success{
	@extend .button;
	@extend %base-button-styles;
	background-color: $success-color;
}

.button-primary{
	@extend .button;
	@extend %base-button-styles;
	background-color: $primary-color;
}

.button-disabled{
	@extend .button;
	&, &:hover, &:active, &:focus{
		border: 0;
		background-image: none;
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		filter: alpha(opacity=40);
		opacity: .4;
		cursor: not-allowed;
		box-shadow: none;
	}
}


.button-xsmall {
	font-size: 70%;
}

.button-small {
	font-size: 85%;
}

.button-large {
	font-size: 110%;
}

.button-xlarge {
	font-size: 125%;
}

.button-full{
	display: block;
	padding-right: 0;
	padding-left: 0;
}

.button-social{
	@extend %button-reset;
	@extend %button-base;
	font-weight: bold;
	text-shadow: 0 1px rgba(black, 0.4);
	padding: 1em 1.5em;
	border-radius: $radius;
}

.button-facebook{
	@extend .button-social;
	@include background-image(linear-gradient(#4360A1, #304FA0));
	box-shadow: 0 1px darken(#4360A1, 10%);
	color: white;
}

.button-twitter{
	@extend .button-social;
	@include background-image(linear-gradient(#40C8FF, #36BBF5));
	box-shadow: 0 1px darken(#36BBF5, 10%);
	color: white;
}

.pill{
	@extend %button-reset;
	background-color: #E3E3E3;
	color: #A8A8A8;
	min-width: 140px;
	text-align: left;
	border-radius: $radius;
	overflow: hidden;
	box-shadow: 0 1px rgba(black, 0.20);
	text-transform: uppercase;
	text-shadow: 0 1px rgba(white, 0.40);
	span{
		font-weight: $semi-weight;
	@media screen and (max-width: $medium-screen) {
		display: none;
	}
	}
	@media screen and (max-width: $medium-screen) {
		min-width: 0;
	}
}
.pill-icon{
	background-color: #D7D7D7;
	font-size: 14px;
	text-align: center;
	width: 40px;
	display: inline-block;
	line-height: 3;
	margin-right: 3px;
	@media screen and (max-width: $medium-screen) {
		margin-right: 0;
	}
}