.flag{
    display:table;
    width:100%;
}
.flag__image,
.flag__body{
    display:table-cell;
    vertical-align:middle;

    .flag--top &{
        vertical-align:top;
    }

    .flag--bottom &{
        vertical-align:bottom;
    }
}
.flag__image{
    padding-right:$base-spacing-unit;
    display: none;
    @media #{$medium} {
        display: table-cell;
    }

    > img{
        display:block;
        max-width:none;
    }
    &.flag--fix{
        text-align: center;
        > img{
            display: inline-block;
            vertical-align: middle;
            max-width: 100%;
        }
    }

    .flag--rev &{
        padding-right:0;
        padding-left:$base-spacing-unit;
    }
}
.flag__body{
    width:100%;
    padding: 20px 5px;
}