.main-footer{
	background-color: $tertiary-color;
	color: #4C5A72;
	padding: rhythm(1) 0 rhythm(1/2);
	.wrapper > *{
		margin-bottom: 0;
	}
		text-align: center;
}

.legal{
	@include adjust-font-size-to(13px);
	margin-bottom: 0;
}

.social-buttons{
	font-size: em(37);
	margin-bottom: 0;
	a{
		color: #4C5A72;
	}
}