.main-header{
	background-color: $primary-color;
	padding: em(9) 0;
	margin-bottom: $base-spacing-unit;
	text-align: center;
	.main-logo{
		float: none;
		@media #{$small} {
			float: left
		}
	}
	.main-menu{
		float: none;
		margin: 0.8125em 0 0;
		@media #{$small} {
			float: right
		}
	}
}

.main-logo,
.main-menu ul{
	margin: 0;
}

.main-menu{
	font-weight: $semi-weight;
	a{
		color: white;
	}
}