.nav{
	margin-left: 0;
	list-style: none;
    padding-left: 0;
    > li{
        &,
        > a{
            display:inline-block;
           *display:inline;
            zoom:1;
        }
    }
}

.nav-separated{
	> li{
		border-left-width: 1px;
		border-left-style: solid;
		border-left-color: rgba(white, 0.20);
		&:first-child{
			border-left-width: 0;
		}
		> a{
			padding: ($half-spacing-unit / 4) $half-spacing-unit;
		}
	}
}

.nav--fit{
    display:table;
    width:100%;

    > li{
        display:table-cell;

        > a{
            display:block;
        }
    }
}