.payments{
	background-color: #E7E7E8;
	text-align: center;
	padding: rhythm(2) 0;
}

.payments__wrapper{
	max-width: 760px;
}

.payments__list{
	padding: 0;
	margin-bottom: 0;
	> li{
		vertical-align: top;
	}
}