.small-font{
	@include adjust-font-size-to(14px);
}
.popup-white{
	background-color: white;
	color: #A4ACB8;
}
.main-popup{
	//@include debug-vertical-alignment;
	@extend .popup-white;
	position: relative;
	max-width: em(680);
	font-weight: $regular-weight;
	margin: 0 auto;
	padding: $half-spacing-unit;
	border-radius: $radius * 2;
	p{
		@extend .small-font;
	}
	@media #{$medium} {
		padding: em(43);
	}
}
.main-popup-title{
	color: $primary-color;
	margin-bottom: $half-spacing-unit;
	&.primary-color{
		@extend .primary-color;
	}
}
.main-popup-subtitle{
	margin-bottom: rhythm(1, 14px);
}

.cancel-link{
	@extend .underline;
	@extend .small-font;
	text-decoration: underline;
	color: $main-foreground-color;
}

.button-success + .cancel-link{
	margin-left: $half-spacing-unit;
}

.total-value{
	font-size: 18px !important;
	font-size: 1rem !important;
}
.total-value-val{
	font-size: em(25, 18);
}