.prizes{
	background-color: $secondary-color;
	color: white;
	text-align: center;
	padding: rhythm(3) 0;
}
.prizes__list{
	padding: 0;
	margin-bottom: 0;
	display: inline-block;
}
.prizes__item{
	@include size(179px 130px);
	background-image: url('../images/bay.png');
	background-repeat: no-repeat;
	text-align: center;
	margin: 0 14px;
	padding: 24px 40px 0;
	vertical-align: top;
	font-weight: $light-weight;
	a{
		color: white;
	}
	p{
		margin-bottom: 0;
		line-height: 1.3;
	}
	strong{
		font-size: 26px;
		display: block;
		font-weight: $semi-weight;
		line-height: 1.1;
	}
	&:last-child{
		padding-top: 18px;
		strong{
			font-size: 22px;
		}
	}
}